.splash-logo {
  pointer-events: none;
}

.main-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 3rem;
  flex-wrap: wrap;
  max-width: 535px;
  flex-grow: 1;
  margin-left: 20px;
  margin-right: 20px;
}

.main-buttons a {
  flex-grow: 1;
}

.getstarted {
  background-color: #009a94;
  color: white !important;
  border: none;
}

.getstarted:hover {
  background-color: #00c8bd;
}

.specs {
  background-color: transparent;
  border: 1px solid #00c8bd;
  color: inherit;
}

.specs:hover {
  background-color: #00c8bd50;
}

.landing-segment {
  padding-bottom: 8em;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.landing-segment > h1 {
  max-width: 95%;
}
