.tab-buttons {
  background-color: transparent;
  font-size: 16px;
  padding: 0.5em 1em;
  outline: 1px solid #e5e7eb28;
  display: inline-block;
  border: 0; /* borders produces doubles borders in tabs */
  margin-left: 1px;
  float: left;
  cursor: pointer;
}

.tab-buttons:hover {
  background-color: #00c8bd50;
}


.tab-buttons.first-tab {
  border-radius: 5px 0 0 0;
}

.tab-buttons.last-tab {
  border-radius: 0 5px 0 0;
}

input[type="radio"]:checked + div.tab-content > label {
  outline-color: #00c8bd;
  background-color: #0000;
  cursor: default;
}
