.tab-content {
  position: relative;
}

.code-container {
  border: 1px solid #e5e7eb28;
  text-align: left;
  border-radius: 0 5px 5px 5px;
  min-width: 0;
  overflow-x: auto;
}

.code-container code {
  border-radius: 0 5px 5px 5px;
}

.code-container pre {
  margin: 0;
  width: 100%; /* Ensures the pre tag doesn't exceed its parent container's width */
  overflow-x: auto; /* Adds a horizontal scrollbar if the content overflows */
}

.splash-code-viewer input[type="radio"] {
  display: none;
  height: 0;
  left: -100%;
  position: relative;
  top: -100%;
}

input[type="radio"] + div.tab-content > div {
  display: none;
  position: absolute;
  margin-top: 37px;
  width: 100%;
}

input[type="radio"]:checked + div.tab-content > div {
  display: block;
}

.splash-code-viewer {
  padding-bottom: 300px;
}
