.code-viewer {
  display: block;
  overflow-x: auto;
  padding: 1em;
  background-color: #f6f8fa;
}

@media (prefers-color-scheme: dark) {
  .code-viewer {
    background-color: #282c34;
    color: #abb2bf;
  }
}
