.not-a-link {
  color: white;
  text-decoration: none;
}

.not-a-link:visited {
  color: white;
}

.article {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.article-content {
  max-width: 56rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 3rem;
  padding-right: 3rem;
  color: rgb(228, 228, 228);
  font-weight: 400;
}

.article-content h1,
.article-content h2,
.article-content h3,
.article-content h4,
.article-content h5,
.article-content h6 {
  color: #ccc;
  font-weight: 400;
}

.article-content h2::after,
.article-content h3::after,
.article-content h4::after,
.article-content h5::after,
.article-content h6::after {
  content: "";
  background-color: gray;
  mask: url("/link.svg");
  height: 15px;
  width: 18px;
  margin-top: 5px;
  margin-left: 5px;
  display: inline-block;
}

.article-content .not-a-link:hover {
  text-decoration: underline;
}

.article-content table {
  display: block;
  overflow-x: auto;
  border-collapse: collapse;
  min-width: 70%;
  max-width: fit-content;
  border-spacing: 0;
}

.article-content table th,
.article-content table td {
  padding: .4rem 1rem;
  font-size: 95%;
  white-space: nowrap;
}

.article-content table thead {
  border-bottom: solid 2px rgba(210,215,217,75%);
}

.article-content table tbody tr {
  border-bottom: 1px solid rgba(42, 47, 53, 52%);
  background-color: #333740;
}

.article-content table tbody tr:nth-child(2n) {
  background-color: #1c1f26;
}

.code-box {
  border: 1px solid #e5e7eb28;
  text-align: left;
  border-radius: 5px 5px 5px 5px;
  background-color: #1c1f26;
}

.code-box > pre {
  padding: 0 1em 2em 2em;
  overflow-x: auto;
  margin: 0;
}

.code-title-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
  margin-right: 0.5em;
}

.code-title-bar::before {
  content: "";
}

.code-title-bar > div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.code-icon {
  font-weight: bold;
  font-family: monospace;
  align-items: center;
  padding-right: 0.5em;
  padding-top: 3px; /* make the icon vertically aligned with the title */
  color: gray;
}

.clipboard-icon {
  height: 1em;
  width: 0.8em;
  background-color: white;
  background-repeat: no-repeat;
  mask-image: url("/clipboard.svg");
  cursor:pointer;
}

.copy-ok {
  background-color: transparent;
  mask-image: none;
}

.copy-ok::before {
  /* checkmark */
  content: "✔";
  color:green;
  height: 1em;
  width: 1em;
  display: inline-block;
  size: 3em;
}


.table-of-content {
  margin-right: 2em;
  position: fixed;
  right: 0;
  top: 8em;
  font-weight: 400;
}

.toc-bar {
  border-left: #464951 1px solid;
  left: 0;
  position: absolute;
  height: 22px;
  max-height: inherit;
}

.table-of-content ul {
  padding-left: 20px;
}

.table-of-content a {
  max-height: inherit;
}

.table-of-content a:hover {
  transition: none;
  color: #00c8bd;
}

.table-of-content li,
.table-of-content ul {
  overflow: hidden;
  transition: all 300ms ease-in-out;
}

/* When the heading is active, it is displayed. */
.active-poc-heading {
  max-height: 1000px;
}

.active-poc-heading > a > span {
  color: #00c8bd;
  border-color: #00c8bd;
  font-weight: 600;
}

/* Parent heading are also displayed. */
li:has(.active-poc-heading) {
  max-height: 1000px;
}

/* All parent child are also displayed */
ul:has(.active-poc-heading) > li {
  max-height: 1000px;
}

/* Childs of current heading is always displayed. */
.active-poc-heading > ul > li {
  max-height: 1000px;
}

/* Root headings are also displayed */
.table-of-content > ul > ul > li {
  max-height: 1000px;
}
