.community-content {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-left: 50px;
  margin-right: 50px;
}

.community-content > div {
  display: flex;
  flex-direction: column;
  justify-content: left;
  height: 500px;
  border: 1px solid rgba(0, 0, 0, 10%);
  background-color: rgb(246, 247, 249);
  border-radius: 5px;
  margin: 10px;
  padding: 0 30px 0 30px;
  width: 100%;
  min-width: 300px;
  flex: 1 1 0px;
  flex-shrink: 1;
}

@media (prefers-color-scheme: dark) {
  .community-content > div {
    background-color: #333740;
    border-color: #e5e7eb28;
  }
}

.community-content p {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin: 0;
}

.community-content iframe {
  align-self: center;
}

.community-content .discord-widget {
  align-self: center;
  margin-top: 1em;
}

.inline-emoji {
  position: absolute;
  margin-top: -10px;
  margin-left: -5px;
}

.page-community h1 {
  text-align: center;
  font-size: 50px;
}

.community-content .community-padding {
  margin-bottom: 1em;
}

/* stylelint-disable-next-line media-feature-range-notation */
@media (max-width: 650px) {
  .community-content {
    margin: 0 1em 2em 1em;
  }
}
