.blog-entries {
  max-width: 56rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.blog-entries > a {
  background-color: #1c1f26;
  border: 1px solid #e5e7eb28;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  height: 10.75rem;
  color: white;
  text-decoration: none;
}

.blog-entries > a:hover {
  background-color: #ffffff23;
}

.blog-entries > div img {
  width: 20rem;
}

.article-preview-left-part {
  padding: 1.75rem 1.75rem 1.25rem;
}
