.topBar {
    height: 64px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    background-color: #282c34;
}


.topBarLogo {
    padding-left: 16px;
    height: 50px;
}

.topBarLink {
    display: flex;
    align-items: center;
}

.topbar-icon {
    height: 28px;
}

.links {
    display: flex;
    flex-direction: row;
    gap: 40px;
    width: 75%;
    justify-content: flex-end;
    align-items: center;
    padding-right: 25px;
}

.links .draco-button:hover {
    background-color: #00c8bd50;
}